* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #212529;
  --grey: #6c757d;
  --dark-grey: #495057;
  --white: #fff;
  --green: #28a745;
  --blue: #007bff;
  --light: #ced4da;
  --background-color: #f8f9fa;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark);
  text-align: left;
  background-color: var(--background-color);
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 1rem;
}

header {
  text-align: center;
  padding: 48px 0 48px;
}

.logo-div {
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}

.logo-div img {
  width: 300px;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 8px;
}

p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.form-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.form {
  position: relative;
  padding: 0 15px 0 15px;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  order: 1;
}

#date {
  background-color: var(--light);
  color: var(--dark-grey);
  border: 1px solid var(--light);
  border-radius: 0.25rem;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  width: 100%;
}

input[type=text], input[type=email], select {
  border: 1px solid #ced4da;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--light);
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.two-input-container {
  display: flex;
  margin-bottom: 1rem;
  gap: 1.875rem;
  justify-content: space-between;
}

.two-input-container span {
  font-size: 80%;
  font-weight: 400;
  color: var(--grey);
}

.half-size-input {
  width: 100%;
}

.one-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.one-row span {
  color: var(--grey);
}

#username-input {
  display: flex;
  align-items: center;
}

#username-input span {
  background-color: var(--light);
  color: var(--dark-grey);
  border: 1px solid var(--light);
  border-radius: 0.25rem 0 0 0.25rem;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#username {
  border-radius: 0 0.25rem 0.25rem 0;
}

.three-row {
  display: flex;
  gap: 1.875rem;
}

hr {
  border-top: 1px solid rgba(0,0,0,.1);
  margin: 1rem 0 1.5rem;
}

.checkbox-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

.payment {
  margin-bottom: 1rem;
}

.cc-details {
  width: 50%;
  padding-right: 1rem;
}

input[type=submit] {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: var(--white);
  background-color: var(--blue);
  border-color: var(--blue);
}

.cart {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 15px 0 15px;
  order: 2;
}

.cart-header {
  color: var(--grey);
  font-weight: 500;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.cart-header h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-header span {
  background-color: var(--grey);
  color: var(--white);
  font-size: 75%;
  font-weight: 700;
  padding: 0.25em 0.4em;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  border-radius: 10rem;
  line-height: 1;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cart-ctn {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid rgba(0,0,0,.125);
  border-bottom: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.cart-ctn:nth-child(2) {
  border-radius: 0.25rem 0.25rem 0 0;
}

.cart-ctn:nth-child(6) {
  border-radius: 0 0 0.25rem 0.25rem ;
  margin-bottom: 1rem
}

.cart-prod-name {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.cart-prod-name span {
  font-size: 80%;
  font-weight: 400;
  color: var(--grey);
}

.price {
  color: var(--grey);
  font-weight: 400;
}

.promo-code, .promo-code span, .promo-code .price {
  color: var(--green);
}

.price-total {
  font-weight: bolder;
}

.total {
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-weight: 400;
}

.promo-code-btn {
  line-height: 1.5rem;

  background-color: var(--white);
  border-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,.125);
  padding: 0.5rem;

  display: flex;
  justify-content: center;

  align-items: stretch;
  width: 100%;
}

.promo-code-btn input {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.375rem 0.75rem;
  overflow: visible;
  width: 100%;
  max-width: 75%;

  font-size: 1rem;
  
}

.promo-code-btn button {
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--grey);
  border-color: var(--grey);
  padding: 0.375rem 0.75rem;
  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px solid var(--grey);
  width: 40%;


  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer {
  text-align: center;
  padding-top: 3rem;
  margin: 3rem 0;
  color: var(--grey);
}

footer p {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

footer ul {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

footer li a {
  text-decoration: underline;
  color: var(--blue);
}

@media (max-width: 785px) {
  header {
    padding: 0 1rem;
  }

  .form-container {
    flex-direction: column;
    align-content: center;
    padding: 0 1rem;
  }

  .form {
    order: 2;
    max-width: 100%;
    margin-top: 1.5rem;
  }

  #date {
    font-size: 0.8rem;
    text-wrap: nowrap;
  }
  .two-input-container, .three-row {
    flex-direction: column;
    gap: 0;
  }

  .cc-details {
    width: 100%;
    padding: 0;
  }

  .cart {
    order: 1;
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  #date {
    font-size: 0.5rem;
  }

  .checkbox-container {
    font-size: 0.8rem;
  }
}
